<div class="container d-flex flex-column justify-content-center align-items-center bg-light pt-4 pb-4">
  <div class="text-center mb-5">
    <h1 class="display-4 fw-bold text-primary">AMORATTO</h1>
    <p class="lead text-muted">Panel de gestión</p>
  </div>

  <div class="w-100" style="max-width: 400px;">
    <div class="d-grid gap-3 mb-4">
      <a href="/api/amoratto/validarCodigo" class="btn btn-outline-primary btn-lg">Validar Código</a>
      <a href="/api/amoratto/cargardinero" class="btn btn-outline-primary btn-lg">Depositar Dinero</a>
      <a href="/api/amoratto/renderRecomDinero" class="btn btn-outline-primary btn-lg">Recomensa por compra</a>
      <a href="/api/amoratto/cambiosProdCan" class="btn btn-outline-primary btn-lg"> Modificar Productos Canjeables</a>
      <a href="/api/amoratto/renderPagarDinero" class="btn btn-outline-primary btn-lg"> Pagar con dinero depositado 5% OFF</a>
      {{!-- <a href="/api/amoratto/cambiosCarta" class="btn btn-outline-info btn-lg">📜 Cambios en la Carta</a> --}}
    </div>

    <a href="/logout" class="btn btn-secondary w-100">Cerrar Sesión</a>
  </div>
</div>
