<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="w-100" style="max-width: 500px;">
    <h1 class="mb-4 text-center text-primary fw-bold">PAGAR CON DINERO DEPOSITADO</h1>

    <div id="response" class="mb-3 text-danger text-center"></div>

    <p>Ingresa el importe total de la compra; el sistema aplicará automáticamente el 5 % de descuento y realizará las validaciones pertinentes.</p>
    <form id="formPagarDinero" class="border rounded p-4 shadow-sm bg-white">
      <div class="mb-3">
        <label for="number" class="form-label">Número de teléfono</label>
        <input
          type="number"
          class="form-control"
          id="number"
          placeholder="Ej: 3424076088"
          required
        >
      </div>

      <div class="mb-3">
        <label for="valor" class="form-label">Importe de compra</label>
        <input
          type="number"
          class="form-control"
          id="valor"
          placeholder="Ej: 3200"
          required
        >
      </div>

      <button type="submit" class="btn btn-success w-100">Cargar Dinero</button>
    </form>

    <div class="text-center mt-4">
    <a href="/home" class="btn btn-secondary">Volver al panel</a>
      <a href="/logout" class="btn btn-outline-secondary">Cerrar Sesión</a>
    </div>
  </div>
</div>


<script>
    const div = document.getElementById('response')
    const form = document.getElementById('formPagarDinero').addEventListener('submit', async ( e ) => {
        e.preventDefault()
        let numero = document.getElementById('number').value
        let valor = document.getElementById('valor').value
        if(!numero||numero.length === 0 || !valor||valor.length === 0){
            return div.innerHTML = ' Debes enviar valores correctos recordar ej: 3424076088  -  3200'
        }   
        numero = `549${numero}`

        try{
            let response = await fetch('/api/amoratto/pagarDinero', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({numero, valor})
            })

            let data = await response.json()

            if(data.error){
                return div.innerHTML = `<h4 class="alert alert-danger">${data.error}</h4>`
            }
            return div.innerHTML = `<h4 class="alert alert-success">Pago realizado con éxito - Saldo restante en cuenta de cliente: $ ${data.dinero} </h4>`
        }catch(error){
            return div.innerHTML = 'Error interno - Alertar error.'
        }
    })
</script>