<h1>AMORATTO</h1>

<a href="/api/amoratto/validarCodigo">VALIDAR CODIGO</a><br>
<a href="/api/amoratto/cargarPuntos">CARGAR PUNTOS</a><br>
<a href="/api/amoratto/cambiosProdCan">MODIFICAR PRODUCTOS CANJEABLES</a><br>
<a href="/api/amoratto/cambiosCarta">CAMBIOS EN LA CARTA</a>

<a href="/logout">Cerrar Sesion</a>