<h1>Validar Codigo</h1>
<div id="response"></div>
<form id="formCode">
    <label>Ingrese codigo de canje<input type="text" id="code" required></label>
    <button type="submit">Validar codigo</button>
</form>

<a href="/logout">Cerrar Sesion</a>


<script>
    let div = document.getElementById('response')
    const form = document.getElementById('formCode').addEventListener('submit', async ( e ) => {
        e.preventDefault()

        let code = document.getElementById('code').value

        try{
            let response = await fetch('/api/amoratto/validarCodigo', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({code})
            })

            let data = await response.json()
            if(data.error){
                return div.innerHTML = `${data.error}`
            }


            return div.innerHTML = `Codigo valido - Procede a entregrarle: -  <strong>${data.title}</strong>  -  al cliente.`
        }catch(error){
            return div.innerHTML = 'ERROR INTERNO - ALERTE ERROR'
        }
    })
</script>